.block {
  background-color: white;

  border-radius: 25px;
  box-shadow: 2px;
  width: 80%;
}
.colour {
  background-color: #ef4e7b;
  border-color: #ef4e7b;
  font-weight: 800;
}
.cutting {
  background-color: #07b39b;
  border-color: #07b39b;
  font-weight: 800;
}
.pattern {
  background-color: #1098ad;
  border-color: #1098ad;
  font-weight: 800;
}
.material {
  background-color: #f79533;
  border-color: #f79533;
  font-weight: 800;
}
.nameOfDress {
  font-weight: bold;
  font-size: 30px;
}
.submitbtn {
  font-weight: 800;
}

.dropdowns {
  align-items: center;
  display: block;
  justify-content: center;
}

.colourDrop {
  display: inline-block;
}
.materialDrop {
  display: inline-block;
}

.patternDrop {
  display: inline-block;
}

.cuttingDrop {
  display: inline-block;
}

.AT1,
.AT2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Heading {
  color: #ef4e7b;
  font-size: 45px;
  font-weight: bold;
  margin: auto;
}
